.main-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0px 0px var(--space-4) 0px;
}
.main-banner a {
    text-decoration: none;
}

.main-banner-background {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
	align-content: start;
}




.main-banner-background-image {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main-banner-background-image img {
	width: 100vw;
	position: absolute;
	top: -280px;
}

.banner-background-gradient {
	height: 100%;
	background-image: linear-gradient(90deg, var(--color-main), #337dfce7);
	transform: translateZ(1px);
}









.main-banner h1 {
    margin: var(--space-4) 0px 0px 0px;
    font-size: var(--font-size-biggest);
    max-width: 850px;
    color: var(--color-white);
}

.main-banner-description {
    margin: var(--space-2) 0px 0px 0px;
    color: var(--color-white);
    height:auto ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-banner-description img {
    filter: invert();
    width: 30px;
    display: block;
}



.main-banner-link {
    margin: var(--space-3) 0px 0px 0px;
}

.main-banner .content >*{
    padding: 0px 10px;
}


.main-banner-background-wave {
    display: contents;
}


/*
 *
 *
 *  MOBILE STYLE REGION 
 *
 *
 */



 @media (max-width: 1180px) {
    .banner-background-gradient
    {
        background-image: linear-gradient(90deg, var(--color-main), var(--color-main));
        transition: 1s;
    }

 }
 

 @media (max-width: 920px) {
     .main-banner h1{
        font-size: var(--h1);
    }
    .main-banner-description{
        font-size: var(--font-size);
    }
}
@media (max-width: 550px) {
    .main-banner h1{
        text-align: center;
    }
    .main-banner-description{
        text-align: center;
    }
    .main-banner-description img{
        display: none;
    }
    .border-btn{
        width: -webkit-fill-available;
        text-align: center;
    }
}