
footer {
    position: relative;
}
footer a {
    text-decoration: none;
    color: var(--color-white-ef);
    
}
.footer-wrapper{
    margin: 0px 0px var(--space-3) 0px;
}

.footer-wrapper ul {
    list-style: none;
}
.footer-wrapper a {
    text-decoration: none;
    color: var(--color-white-ef);
}
.footer-wrapper span {
    color: var(--color-white-ef);
}


.footer-wave {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 100%;
}
.footer-wave svg { 
    transform: translate(-15%);
    width: 120%;

}
.footer-wave-corrector {
    height: fit-content;
    position: relative;
    padding: 7vw 0px 0px 0px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-main);
    padding: 0px 10px;
}


.footer-logo .header-logo {
    border-right: 2px solid var(--color-white);
    height: var(--space-3);
}
.footer-logo .header-logo a {
    color: var(--color-white);
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--space-3);
    margin: var(--space-3) 0px 0px 0px;
}


.footer-column-title {
    font-size: var(--h4);
    font-weight: 500;
}

.footer-column ul li {
    margin: var(--space-2) 0px;
}

.footer-column ul a {
    font-size: var(--font-size);
    font-weight: 300;
}
.footer-column ul a:hover {
    text-decoration: underline;
}

a[href^="tel"] {
    color: black;
    filter: invert();
    font-weight: 400;
}


.muted-line {
    height: 1px;
    width: 100%;
    background-color: var(--color-white);
    opacity: 0.36;
}
.footer-content.comma-ad .content {
    height: var(--space-4);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-content.comma-ad .content a {
    font-size: var(--font-size);
    font-weight: 300;
    color: var(--color-white);
}

@media (max-width: 920px) {
    .footer-logo .header-logo {
        max-height: 20px;
    }
    .footer-grid {
        grid-template-columns: repeat(2,2fr);
    }


    .header-logo-wrapper.footer-logo{
        display: none;
    }
    .footer-column ul a{
        font-size: 13px;
    }



}
@media (max-width: 550px) {
    .footer-grid {
        display: flex;
        flex-direction: column;
    }
}