
main {
    margin: var(--space-5) 0px var(--space-4) 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



.content-wrapper{
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
}


.main-content{
    margin: 0px var(--space-3) 0px 0px;
    max-width: var(--main-content-width);
    width: 100%;
}


.border-btn{
    text-decoration: none !important;
    font-size: var(--font-size);
    font-weight: 600;
    color: var(--color-white) !important;
    border: 2px solid var(--color-white);
    padding: 18px 60px;
    border-radius: 36px;
    display: inline-block;
    transition: 0.2s;
}
/* Hover effect */
.border-btn:hover{
    color: var(--color-main) !important;
    background-color: var(--color-white);
    transition: 0.2s;
}
/* / */




.view{
    display: grid;
    gap: var(--space-3);
    flex-direction: column;
    margin: 0px 0px var(--space-4) 0px;
	counter-reset: num;
}
.view.two{
    grid-template-columns:repeat(2,1fr);
}
.view.closely{
    gap: var(--space-2);
    margin-bottom: var(--space-2);
}





.page-title{
    font-size: var(--h1);
    margin: 0px 0px var(--space-3) 0px;
}

.page-subtitle{
    font-size: var(--h4);
    font-weight: 600;
    margin: 0px 0px var(--space-2) 0px;
}





.card{
    background-color: var(--color-white);
    min-height: var(--card-height);
    border-radius: var(--card-radius);
    /* margin: 0px var(--space-2) var(--space-2) 0px; */
    overflow: hidden;
}
.card .card-title, .card span {
    display: block;
    font-size: var(--h4);
    font-weight: 500;
}
.card p {
    font-size: var(--font-size);
    color: var(--font-color-muted);
    font-weight: 300;
}
.card a{
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--color-main);
}
/* Hover effect */
.card a:hover{
    text-decoration: underline;
}
/* / */


.card.info{
    padding: var(--space-1);
}

.card.info >*{
    margin: var(--space-1) ;
}


.card.info.link-to{
    border: 2px solid var(--color-main);
    background-color: transparent;
    padding: 0;
    margin: 0;
    transition: 0.2s;
}


.card.info.link-to >*{
    margin: 0 ;
}
.card.info.link-to a{
    text-align: center;
    text-decoration: none;
    font-size: var(--h4);
    width: 100%;
    height: 100%;
    color: var(--color-main);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.card.info.link-to a svg{
    margin: 0px var(--space-1) 0px 0px;
}
.card.info.link-to a svg path{
    color: var(--color-main);
}

/* Hover effects */
.card.info.link-to:hover{
    border: 2px solid var(--color-main);
    background-color: var(--color-main);
    box-shadow: 0px 0px 10px 3px var(--color-gray);
    transition: 0.2s;
}
.card.info.link-to a:hover{
    color: var(--color-white-background);
    transition: 0.2s;
}
.card.info.link-to a:hover svg path{
    color: var(--color-white-background);
    transition: 0.2s;
}
/* / */


.card.another-service{
    background-image: linear-gradient(-90deg, #0057F1, var(--color-main));
    display: flex;
    flex-direction: row;
    padding:var(--space-2);
}
.card.another-service span{
    color: var(--color-white);
    font-weight: 800;
    font-size: var(--h3);
    margin: var(--space-1) 0px var(--space-3) 0px;
}



.card.another-service img{
    max-width: 320px;
    position: relative;
    top: -20px;
}






.card.news{
    display: flex;
    flex-direction: row;
}

.card.news .card-thumbnail {
    min-width: var(--news-thumbnail-width);
    max-width: var(--news-thumbnail-width);
    /* height: var(--news-thumbnail-height); */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-thumbnail img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.card-thumbnail.empty img{
    display: none;
}
.card-thumbnail.empty .logo-text{
    display: block !important;
    justify-content: center;
    height: var(--news-thumbnail-height);
}
.logo-text{
    display: none !important;
}
.logo-text{
    font-size: var(--font-size-logo) !important;
    font-weight: 900 !important;
    color: var(--color-main);
}

.card .card-content {
    padding: var(--space-2);
}


.news .card-content {
    background-color: var(--color-main-muted);
    padding: var(--space-2) var(--space-3) var(--space-2) var(--space-2);
}
.news .card-content >*{
    display: block;
}




.card-title.white {
    color: var(--color-white);
}

.news-date{
    font-size: var(--font-size-small) !important;
    color: var(--color-white);
    font-weight: 300 !important;
    opacity: 0.5;
}

.news .card-content .news-date{
    border-bottom: 1px solid var(--color-gray);
    padding: var(--space-0-5) 0px;
    margin: 0px 0px var(--space-0-5) 0px;
}

.news p {
    color: var(--color-white);
    font-weight: 300 !important;
    opacity: 0.79;
}



.to-view-btn {
    width: max-content;
    margin: var(--space-1) 0px 0px 0px;
    justify-self: center;
    padding: var(--space-1) var(--space-2);
    border: 1px solid var(--color-main);
    border-radius: 40px;
    color: var(--color-main);
    display: flex;
    transition: 0.2s;
}
.to-view-btn svg{
    transform: rotate(-90deg);
    padding: var(--space-1) 0px  0px  0px ;
}
.to-view-btn path{
    color: var(--color-main);
    transition: 0.2s;
}


/* Hover effects */

.to-view-btn:hover {
    background-color: var(--color-main);
    color:var(--color-white-background);
    transition: 0.2s;
}
.to-view-btn:hover path{
    color: var(--color-white-background);
    transition: 0.2s;
}
/* / */




.card.image{
    width: var(--card-image-width);
    height: var(--card-image-height);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card.image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}




.grid-merge.two{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}




.feedback{
    display: flex;
    flex-direction: row;
}

.feedback-body{
    margin: 0px var(--space-3) 0px 0px;
}

.feedback .page-title{
    font-size: var(--h2);
}
.feedback .page-title span{
    color: var(--color-main);
}

.feedback form{
    display: grid;
    gap: var(--space-2);
    grid-template-columns: repeat(2,1fr);
}


.feedback form input,
.feedback form textarea{
    border: 1px solid var(--color-gray);
    resize: none;
}


.feedback form #id{
    grid-column: 1/3;
}

.feedback form #body{
    grid-column: 1/3;
}



.feedback form div{
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.feedback form div button{
    padding: var(--space-2) var(--space-3-5);
    background-color: var(--color-red);
    color: var(--color-white);
    border: 0px;
}

.feedback form  div p{
    padding: 0px var(--space-2) ;
    font-size: 10px;
    color: var(--color-white-muted);
}
.feedback form div p a{
    text-decoration: underline;
}



.location-widget{
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-height:442px;
}
#interactive-map {
    width: 100%;
    height: 100%;
}
#interactive-map iframe {
    width: 100%;
    height: 100%;
}










.overlay{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 110;
}
.overlay.show{
    display: flex;
}
.overlay-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.84;
}




.overlay-image-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    
    width: 60vw;
    height: 65vh;
    z-index: 1;
}

.overlay-image-wrapper span{
    display: block;
    margin: 0px 0px var(--space-1) 0px;
    color: var(--color-white);
    font-size: var(--font-size);
    font-weight: 600;

}
.overlay-image-wrapper >div{
    display: block;
    object-fit: contain;
    width: max-content;
    height: 100%;
}

.overlay-image-wrapper img{
    border-radius: 20px;
    display: block;
    object-fit: contain;
    width: 100%;
    height: 100%;
}








/* Pagination  */


.pagination{
    width:100%;
    display: flex;
    justify-content: center;
}

.pagination-wrapper{
    display: flex;
}

.pagination-btn{
    color: var(--color-main);
    margin: 0px var(--space-0-5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-main);
    border-radius: 20px;
}

.pagination-btn.active{
    background-color: var(--color-main);
    color: var(--color-white-background);
}


.pagination-btn.start svg{
    transform: rotate(90deg);
}

.pagination-btn.end svg{
    transform: rotate(-90deg);
}
  
.pagination-btn.start path,
.pagination-btn.end path{
    color: var(--color-main);
}






/* Person card */

.card.person{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card.person .card-thumbnail{
    min-width: 240px;
    width: 240px;
    height: 170px;
    border-radius: 20px;
    overflow: hidden;
    margin: var(--space-2);
}
.card.person .card-content{
    padding-left: 0;
}

.field{
    padding: 0px 0px var(--space-0-5) 0px;
}

.field span:first-child{
    font-size: var(--font-size);
    font-weight: 300;
    color: var(--font-color-muted);
}
.field p{
    font-size: var(--h4);
    font-weight: 400;
}


.card.person .field.fullname span{
    padding: 0px 0px var(--space-0-5) 0px;

}






/* Article */
article{
    display: flex;
    flex-direction: column;
}
article a{
    font-size: var(--font-size);
    color: var(--color-main);
    /* width: max-content;s */
    margin: 0px 0px var(--space-2) 0px;
}

/* Hover effect */
article a:hover{
    text-decoration: underline;
}
/* / */

article p{
    margin-bottom: var(--space-3);
}
article .field{
    padding: 0px 0px var(--space-2) 0px;
}
article .field span:first-child{
    padding: 0px 0px 3px 0px;
    display: block;
}
article img{
    border-radius: 20px;
}
article .preview img{
    width: 100%;
}

article .field.full-text{
    line-height: 1.7;
}
article .field.full-text li{
    font-size: var(--h4);
    font-weight: 400;
}



/* 
.view.numerable {
    list-style-type: none; 
	counter-reset: num;
}
.view.numerable .card.info{
    overflow: visible;
} */


.card.info.numerable{
    position: relative;
    overflow: visible;

}
.card.info.numerable::before{
    content: counter(num); 
	counter-increment: num;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-main);
    border-radius: 15px;
    color: var(--color-white-background);
    font-size: var(--font-size);

    position: absolute;
    left: 20px;
    top: -15px;
}




/*
 *
 *
 *  MOBILE STYLE REGION 
 *
 *
 */



 @media (max-width: 1180px) {
    .main-content{
        margin: 0px var(--space-2) 0px 0px;
    }

    .view{
        gap: var(--space-2);
    }
    .side-bar{
        min-width:  auto !important;
    }
 }

 @media (max-width: 1020px) {
    
    .feedback{
        flex-direction: column;
    }
    .feedback-body{
        margin: 0;
    }
    .location-widget{
        margin-top: var(--space-2);
    }
    .location-widget iframe{
        height: var(--card-height) !important;
    }
    .card.image{
        width: auto;
        /* height: auto; */
    }
 }
 @media (max-width: 920px) {
    main {
        margin-top: var(--space-4);
    }
    .card.news{
        flex-direction: column;

    }
    .card.news .card-thumbnail{
        max-width: none;
        width: 100%;
        max-height: var(--news-thumbnail-height);
        justify-content: center;
    }
    .card-thumbnail.empty .logo-text {
        display: flex !important;
        align-items: center;
    }
    .card.another-service img {
        display: none;
    }
    .page-title{
        margin-bottom: var(--space-2);
    }
    .view{
        margin-bottom: var(--space-3);
    }
    
    .feedback form{
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback form #id{
        grid-column: auto;
    }
    .feedback form #body{
        grid-column: auto;

    }
    .feedback form div{
        grid-column: auto;
    }

 }
 @media (max-width: 720px) {
    .content-wrapper{
        flex-direction: column;
    }
    .footer-column ul li{
        margin: var(--space-0-5) 0px !important;
    }
    
 }
 @media (max-width: 550px) {
    .view.two{
        display: flex;
        flex-direction: column;
    }
    .card.info.link-to a{
        padding:  var(--space-1) 0px;
    }
    .card{
        min-height: auto;
    }
	.feedback form div{
		flex-direction: column;
	}

	.feedback form  div p{
		margin: var(--space-2);
		text-align: center;
	}


    .overlay-image-wrapper{
        height: 45vh;
        width: 80vw;
    }
    .img-container{
        width: 100% !important;
        height: auto !important;
    }
    .overlay-img{
        height: auto !important;
    }



    .card.person .card-thumbnail {
        min-width: 0px !important;
        width: 180px ;
        height: 135px;
        margin: var(--space-1);
    }
    .card .card-content {
        padding: var(--space-1);
    }
 }