

:root {
    --color-main: #337CFC;
    --color-main-muted: #609AFF;
    --color-red: #FF0000;
    --color-white: #fff;
    --color-white-background: #F4F7FF;
    --color-white-ef: #EFEFEF;

    /* --color-gray: #D1D1D1; */
    --color-gray: #C4C4C4;
    
    --font-color: #2A2A2A;
    --font-color-muted: #565656;

    --content-width: 1173px;

    --font-size-logo: 48px;
    --font-size-biggest: 55px;
    --h1:40px;
    --h2:35px;
    --h3:25px;
    --h4:20px;
    --font-size: 15px;
    --font-size-small: 12px;
    --font-size-smallest: 10px;

    --card-width: 360px;
    --card-height: 212px;
    --card-radius: 20px;

    --news-thumbnail-width: 268px;
    --news-thumbnail-height: 239px;


    --card-image-width: 363px;
    --card-image-height: 250px;

    --space-0-5: 5px;
    --space-1: 10px;
    --space-2: 20px;
    --space-2-5: 30px;
    --space-3: 40px;
    --space-3-5: 60px;
    --space-4: 80px;
    --space-5: 120px;


    --black-to-main: invert(43%) sepia(83%) saturate(3608%) hue-rotate(207deg) brightness(101%) contrast(101%);

}